@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

$defaultBorderRadius: 40px;

html, body, #root {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(61, 61, 61);
  overflow: hidden !important;
}
#root {
  &:first-child {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
}
div#main {
  box-sizing: border-box;
  margin: auto;
  background-color: rgba(109, 202, 171, 0.5);
  height: 100vh;
  width: 100vh;
  border: 2px solid yellowgreen;
  border-radius: 10px 10px $defaultBorderRadius $defaultBorderRadius;
}
div#header {
  display: flex;
  justify-content: space-around;
  height: 75vh;
  width: 100%;
  flex-wrap: wrap;

  div.block {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    width: 50%;
    border: 2px solid yellowgreen;
    background-color: rgba(255, 255, 0, 0.39);
    box-shadow: inset 0px 2000px 0px rgba(0, 0, 0, 0.24);

    &:nth-child(1) {
      background-color: rgb(70, 175, 70) !important;
    }
    &:nth-child(2) {
      background-color: rgb(156, 135, 38) !important;
    }
    &:nth-child(3) {
      background-color: rgb(175, 70, 70) !important;
    }
    &:nth-child(4) {
      background-color: rgb(60, 62, 175) !important;
    }
  }
  div.block:hover,
  div.block:active {
    box-shadow: none !important;
  }
}

div#footer {
  display: flex;
  box-sizing: border-box;
  font-weight: bold;
  height: 20vh;
  width: 100vw;

  div.part-left {
    margin-right: 20px;

    img {
      height: 100%;
      border-radius: $defaultBorderRadius;
      cursor: zoom-in;
    }
  }

  div.part-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  
    span.score-value {
      color: rgb(90, 245, 90);
    }
  }
}
div#title {
  font-family: 'Play', sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  height: 5vh;
  padding-left: 20px;
}

div#congrats {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

@media (max-width: 100vh)
{
  div#main {
    width: 100vw;
  }
  div.part-right {
    font-size: 1.5em !important;
  }
}
@media (max-width: 420px)
{
  div.part-right {
    font-size: 1em !important;
  }
}

.dinosaur-animated {
  animation: headShake infinite 0.5s linear;
}

@keyframes headShake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}